files/all_galaxies.csv
files/all_red_galaxies.csv
all_galaxies.csv
huang_candidates_2021.txt
files/all_galaxies_known_fits.csv
outputs/catalog_output.out
outputs/
cutout_gen.out
files/
files/all_galaxies_rad.csv
files/all_red_galaxies_rad.csv
outputs/
outputs/*
files/*

**/*.pyc

**/__pycache__

.DS_Store

**/test_*.py